@font-face {
  font-family: "Avenir";
  src: url();
}

@font-face {
  font-family: "Georgia";
  src: url(../fonts/Georgia/georgia.ttf);
}

@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato/lato-regular.ttf);
}