 :root {
   --base-font: "Lato";
   --second-font: "Georgia";
   --third-font: "Avenir-Black";
   /* colors */
   --base-black: #000;
   --base-white: #fff;
   --bg-color: #245852;
   --wet-black: #484848;
   --basic-green: #01996d;
   --basic-black: #424242;
   --signal-black: #292929;
   --numbers-color: rgba(1, 153, 109, 0.2);
 }

 body {
   width: 100vw;
   background: var(--base-white);
 }

 .container {
   width: 100%;
   max-width: 1450px;
   margin-inline: auto;
   padding-inline: 15px;
 }

 h1,
 h2,
 h3 {
   font-weight: 700;
   font-family: var(--second-font);
 }

 h1,
 h2 {
   color: var(--basic-green);
 }

 h1 {
   font-size: clamp(45px, 6vw, 65px);
 }

 h2 {
   line-height: 157%;
   font-size: clamp(35px, 5vw, 50px);
 }

 h3 {
   line-height: 1.5;
   color: var(--base-black);
   font-size: clamp(25px, 5vw, 30px);
 }

 h6 {
   font-size: 1rem;
   font-family: var(--second-font);
   font-weight: 700;
   line-height: 157%;
   color: var(--base-black);
 }

 p {
   font-weight: 500;
   line-height: 1.5;
   color: var(--basic-black);
   font-family: var(--base-font);
   font-size: clamp(1rem, 2vw, 20px);
 }

 a {
   font-size: 1rem, 5vw, 20px;
   font-family: var(--base-font);
 }

 a,
 button {
   white-space: nowrap;
   font-family: var(--base-font);
 }

 img {
   width: 100%;
   height: 100%;
   display: block;
 }

 /* --- buttons --- */
 .btn,
 .header-btn {
   display: block;
   font-size: 20px;
   font-weight: 400;
   line-height: 1.25;
   border-radius: 4px;
   text-align: center;
   color: var(--base-white);
   font-family: var(--base-font);
   background: var(--basic-green);
   border: 1px solid var(--basic-green);
   transition: .2s;
 }

 .header-btn {
   height: 51px;
   width: 183px;
   padding: 12px 50px;
 }

 .header-btn:first-child {
   width: auto;
   border: none;
   background: inherit;
   padding-inline: 35px;
   color: var(--base-black);
 }

 .btn {
   width: 227px;
   height: 65px;
   padding: 20px 50px;
 }

 .story__content>.btn {
   width: 240px;
 }

 .btn:hover,
 .header-btn:hover:not(.header-btn:first-child) {
   background: var(--bg-color);
 }