 .header__logo {
   width: 80px;
   height: 23px;
 }

 .header__nav_list,
 .header__buttons-wrapper {
   display: flex;
   align-items: center;
 }

 .header-container {
   display: grid;
   column-gap: 20px;
   min-height: 85px;
   align-items: center;
   grid-template-columns: 2fr 7fr 5fr;
 }

 .header__nav_list {
   width: 100%;
   max-width: 557px;
   margin-inline: auto;
   justify-content: space-between;
 }

 .header__buttons-wrapper {
   justify-content: flex-end;
 }

 .header__item_link {
   font-weight: 500;
   color: var(--signal-black);
 }

 /* --- MAIN --- */

 /* ---well-section --- */
 .well-section {
   width: 100%;
   height: 895px;
   display: flex;
   align-items: center;
   margin-bottom: 50px;
   background-size: cover;
   background-position: 60% 40%;
   background-repeat: no-repeat;
   background-image: url(../images/well-bg.jpg);
 }

 .well-section__shadow {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
 }

 .well__content_title {
   margin-bottom: 30px;
 }

 .well__content_text {
   font-weight: 400;
   line-height: 157%;
   margin-bottom: 45px;
   color: var(--wet-black);
 }

 .well__content_text>span {
   line-height: 145%;
 }

 /* --- step-section --- */
 .step__title-wrapper {
   display: flex;
   gap: 50px;
   align-items: center;
   padding-bottom: 50px;
 }

 .step__title {
   min-width: 50%;
 }

 .step__items-wrapper {
   width: 100%;
   height: 1140px;
   display: flex;
   gap: 95px;
   margin-bottom: 50px;
 }

 .step__item-wrapper {
   display: flex;
   width: calc(100%/3);
   flex-direction: column;
 }

 .step__item-wrapper:nth-child(2) {
   justify-content: flex-end;
 }

 .step__item-wrapper:nth-child(3) {
   justify-content: center;
 }

 .step__item_title {
   width: 100%;
   height: 225px;
   display: flex;
   position: relative;
 }

 .step__title-personalize,
 .step__title-write,
 .step__title-alivio {
   position: absolute;
   bottom: 75px;
   left: 90px;
 }

 .step__title-write {
   left: 80px;
 }

 .step__title-alivio {
   left: 125px;
   bottom: 70px;
 }

 .step__item_title>span {
   font-size: 150px;
   font-family: var(--second-font);
   color: var(--numbers-color);
 }

 .step__item_text {
   padding-right: 20px;
   margin-bottom: 50px;
 }

 .step__img-wrapper {
   width: 100%;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   border-radius: 12px;
   position: relative;
 }

 .step__img_bg {
   height: 550px;
   background-size: cover;
   background-position: 90% 10%;
   background-repeat: no-repeat;
   background-image: url(../images/bg01-img.jpg);
 }

 .step__img_screen,
 .step__img-shadow {
   width: 205px;
   height: 144px;
   position: absolute;
   bottom: 155px;
   right: 0px;
 }

 .step__img-shadow {
   display: flex;
   background: linear-gradient(135deg, rgb(24, 24, 24, .3) 0%, rgba(196, 196, 196, 0) 100%);
   z-index: 1;
 }


 /* --- STORY-SECTION --- */
 .story-section {
   width: 100%;
   height: 922px;
   padding-top: 230px;
   padding-bottom: 175px;
   background: var(--bg-color);
 }

 .story-container {
   position: relative;
   height: 100%;
   display: flex;
   align-items: center;
 }

 .story__content>h2,
 .story__content>p {
   margin-bottom: 30px;
   color: var(--base-white);
 }

 .story__content>p {
   margin-bottom: 50px;
 }

 .story__player-wrapper {
   position: absolute;
   top: 0;
   right: -130px;
   width: 895px;
   height: 515px;
   border-radius: 20px;
   overflow: hidden;
 }

 .play-btn {
   display: block;
   width: 40px;
   height: 40px;
   border-radius: 100%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }

 .story__player {
   display: block;
   width: 895px;
   height: 515px;
   object-fit: cover;
 }

 /* --- DIARY-SECTION --- */
 .diary-section {
   padding-top: 120px;
   padding-bottom: 240px;
 }

 .diary-container {
   display: flex;
   gap: 85px;
 }

 .diary__img-wrapper {
   width: 640px;
   height: 575px;
   margin-left: 130px;
   position: relative;
 }

 .diary__img-block {
   position: absolute;
   bottom: -75px;
   left: -60px;
   width: 295px;
   height: 295px;
   background: var(--base-white);
   box-shadow: -1px 1px 10px rgba(0, 0, 0, .3);
   text-align: center;
   padding: 22px;
 }

 .diary__block_hr {
   border: .75px solid var(--wet-black);
   width: 110px;
   margin-inline: auto;
   margin-bottom: 12px;
 }

 h6:first-child {
   margin-bottom: 6px;
   color: rgba(0, 0, 0, .65);
 }

 h6 {
   margin-bottom: 10px;
 }


 .diary__block_img {
   display: inline-block;
   width: 58px;
   height: 58px;
   border-radius: 100%;
   margin-bottom: 12px;
   background-image: url(../images/diary-block-img.jpg);
 }

 .diary__block_name {
   font-size: 11px;
   font-weight: 400;
   font-family: var(--base-font);
   line-height: 157%;
   margin-bottom: 10px;
 }

 .diary__block_list {
   display: inline-block;
 }

 .diary__block_list>li {
   display: flex;
   align-items: center;
   margin-left: 10px;
   position: relative;
   margin-bottom: 10px;
   font-family: var(--base-font);
   font-size: 10px;
   font-weight: 400;
   line-height: 157%;
 }

 .diary__block_list>li::before {
   content: '';
   position: absolute;
   left: -10px;
   display: block;
   width: 5px;
   height: 5px;
   border-radius: 100%;
   background: #000;
 }


 .diary__content>h2 {
   margin-bottom: 30px;
 }

 .diary__content>p {
   margin-bottom: 50px;
 }

 /* --- FOOTER --- */
 .footer {
   width: 100%;
   max-height: 654px;
   padding: 95px 20px;
   background: var(--bg-color);
 }

 .footer__list {
   display: flex;
   flex-direction: column;
   gap: 60px;
 }

 .footer__item_link {
   color: var(--base-white);
   font-family: var(--base-font);
   font-size: 25px;
   font-weight: 600;
 }

 .footer__list_item:first-child>.footer__item_link {
   font-family: var(--third-font);
   font-weight: 900;
   font-size: 40px;
 }








 /* --- MEDIA --- */

 /* --- 1440PX --- */
 @media (max-width:1440px) {
   .well-section {
     height: 750px;
   }

   /* step-section */
   .step-section {
     text-align: center;
     padding-bottom: 50px;
   }

   .step__title-wrapper {
     width: 80%;
     margin-inline: auto;
     flex-direction: column;
     gap: 0;
     border-bottom: 1px solid rgba(0, 0, 0, 0.074);
     padding-bottom: 20px;
     margin-bottom: 50px;
   }

   .step__items-wrapper {
     flex-direction: column;
     height: auto;
     gap: 30px;
   }

   .step__item-wrapper,
   .step__item-wrapper:nth-child(2),
   .step__item-wrapper:nth-child(3) {
     width: 100%;
     flex-direction: row;
     justify-content: space-evenly;
   }

   .step__item-wrapper:nth-child(2) {
     flex-direction: row-reverse;
   }

   .step__item_content {
     text-align: center;
     max-width: 40%;
   }

   .step__item_title {
     justify-content: center;
     width: 280px;
     margin-inline: auto;
   }

   .step__title-personalize,
   .step__title-write,
   .step__title-alivio {
     left: 50%;
     transform: translate(-50%);
     bottom: 40px;
     white-space: nowrap;
   }

   .step__title-alivio {
     bottom: 50px;
   }

   .step__item_text {
     padding: 0;
     margin-bottom: 0;
   }

   .step__img-wrapper {
     width: 430px;
   }

   .step__img_bg {
     background-size: contain;
     background-position: center;
   }

 }


 /* --- 1024PX --- */
 @media (max-width:1024px) {
   .header-container {
     display: flex;
     gap: 20px 30px;
     flex-wrap: wrap;
     text-align: center;
     padding: 10px 20px;
     justify-content: space-between;
   }

   .header__nav_list {
     order: 1;
   }

   /* step-section */
   .step-section__text {
     margin-bottom: 20px;
   }

   .step__title {
     line-height: 1;
     margin-bottom: 20px;
   }

 }

 /* --- 768PX --- */
 @media (max-width:768px) {
   .well-section {
     height: 550px;
   }

   .well-section__shadow {
     width: 100%;
     height: 100%;
     background: rgba(0, 0, 0, .2);
     display: flex;
     align-items: center;
     text-align: center;
   }

   .well__content_title {
     color: var(--base-white);
     text-shadow: 0 0 5px black;
   }

   .well__content_text {
     line-height: 1.2;
     padding-inline: 15px;
     margin-bottom: 20px;
     color: var(--base-white);
     width: 70%;
     margin-inline: auto;
     text-shadow: 0 0 5px black;
   }

   /* --- step-section --- */
   .step__title-wrapper {
     margin-bottom: 0;
   }

   .step__item-wrapper,
   .step__item-wrapper:nth-child(2),
   .step__item-wrapper:nth-child(3) {
     flex-direction: column;
     width: 100%;
   }

   .step__item_content {
     margin-inline: auto;
     max-width: 80%;
     margin-bottom: 30px;
   }

   .step__img-wrapper {
     width: 280px;
     height: 425px;
     margin-inline: auto;
     background-position: center;
     background-size: cover;
   }

   .step__img-shadow,
   .step__img_screen {
     width: 132px;
     height: 120px;
     bottom: 112px;
   }

 }

 /* ---425PX --- */
 @media (max-width:425px) {
   .header-container {
     column-gap: 0;
   }

   .step__title-wrapper {
     width: 100%;
   }

   .step__item_title {
     width: 100%;
   }
 }

 /* --- 375PX --- */
 @media (max-width:375px) {
   .header-container {
     min-height: 60px;
   }

   .header__nav_list {
     display: none;
   }

   .well-section {
     height: 450px;
   }
 }