 .header__logo {
   width: 80px;
   height: 23px;
 }

 .header__nav_list,
 .header__buttons-wrapper {
   display: flex;
   align-items: center;
 }

 .header-container {
   display: grid;
   column-gap: 20px;
   min-height: 85px;
   align-items: center;
   grid-template-columns: 2fr 7fr 5fr;
 }

 .header__nav_list {
   width: 100%;
   max-width: 557px;
   margin-inline: auto;
   justify-content: space-between;
 }

 .header__buttons-wrapper {
   justify-content: flex-end;
 }

 .header__item_link {
   width: 200px;
   height: 30px;
   font-weight: 500;
   color: var(--signal-black);
 }

 .header__item_link:hover {
   color: var(--basic-green);
 }

 /* --- MAIN --- */

 /* ---well-section --- */
 .well-section {
   width: 100%;
   display: flex;
   padding: 150px 0;
   align-items: center;
   margin-bottom: 50px;
   background-size: cover;
   background-position: 60% 40%;
   background-repeat: no-repeat;
   background-image: url(../images/well-bg.jpg);
 }

 .well-section__shadow {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
 }

 .well__content_title {
   margin-bottom: 30px;
 }

 .well__content_text {
   font-weight: 400;
   line-height: 157%;
   margin-bottom: 45px;
   color: var(--wet-black);
 }

 .well__content_text>span {
   line-height: 145%;
 }

 /* --- step-section --- */
 .step__title-wrapper {
   display: flex;
   gap: 50px;
   align-items: center;
   padding-bottom: 50px;
 }

 .step__title {
   min-width: 50%;
 }

 .step__items-wrapper {
   display: grid;
   grid-template-columns: repeat(3, 4fr);
   column-gap: 95px;
   height: 1085px;
   margin-bottom: 50px;
 }

 .step__item-wrapper {
   display: flex;
   flex-direction: column;
 }

 .step__item-wrapper:nth-child(2) {
   justify-content: flex-end;
 }

 .step__item-wrapper:nth-child(3) {
   justify-content: center;
 }

 .step__img-group,
 .step__item_title {
   position: relative;
 }

 .step__title-personalize,
 .step__title-write,
 .step__title-alivio {
   position: absolute;
   white-space: nowrap;
   bottom: 45px;
 }

 .step__title-personalize {
   left: 87px;
 }

 .step__title-write {
   left: 80px;
 }

 .step__title-alivio {
   left: 120px;
 }

 .step__title_number {
   font-family: var(--second-font);
   font-weight: 400;
   font-size: 150px;
   line-height: 1.5;
   color: var(--numbers-color);
 }

 .step__item_text {
   margin-bottom: 60px;
 }

 .step__img_group {
   position: absolute;
   right: 0;
   bottom: 130px;
   width: 195px;
   height: 150px;
   background-image: url(../images/screen-img.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   box-shadow: inset 25px -5px 100px rgba(0, 0, 0, .4);
 }

 /* --- STORY-SECTION --- */
 .story-section {
   width: 100%;
   padding-top: 230px;
   padding-bottom: 175px;
   background: var(--bg-color);
 }

 .story-container {
   max-width: 1500px;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 20px;
 }

 .story__content {
   min-width: 500px;
 }

 .story__content>h2,
 .story__content>p {
   margin-bottom: 30px;
   color: var(--base-white);
 }

 .story__content>p {
   margin-bottom: 50px;
 }

 .story__player-wrapper {


   border-radius: 20px;
   position: relative;
   overflow: hidden;
 }

 .play-btn {
   display: block;
   width: 40px;
   height: 40px;
   border-radius: 100%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }

 .story__player {
   display: block;
   max-width: 895px;
   height: auto;

   object-fit: cover;
 }

 .play-btn {
   cursor: pointer;
 }

 /* --- DIARY-SECTION --- */
 .diary-section {
   padding-top: 120px;
   padding-bottom: 240px;
 }

 .diary-container {
   display: flex;
   gap: 85px;
 }

 .diary__img-wrapper {
   min-width: 600px;
   height: 575px;
   margin-left: 70px;
   position: relative;
 }

 .diary__img-block {
   position: absolute;
   bottom: -75px;
   left: -60px;
   width: 295px;
   height: 295px;
   background: var(--base-white);
   box-shadow: -1px 1px 10px rgba(0, 0, 0, .3);
   text-align: center;
   padding: 22px;
 }

 .diary__block_hr {
   border: .75px solid var(--wet-black);
   width: 110px;
   margin-inline: auto;
   margin-bottom: 12px;
 }

 .diaru__block_title {
   margin-bottom: 10px;
 }

 .diary__block_img {
   display: inline-block;
   width: 58px;
   height: 58px;
   border-radius: 100%;
   margin-bottom: 12px;
   background-image: url(../images/diary-block-img.jpg);
 }

 .diary__block_name {
   font-size: 11px;
   font-weight: 400;
   font-family: var(--base-font);
   line-height: 157%;
   margin-bottom: 10px;
 }

 .diary__block_list {
   display: inline-block;
 }

 .diary__block_list>li {
   display: flex;
   align-items: center;
   margin-left: 10px;
   position: relative;
   margin-bottom: 10px;
   font-family: var(--base-font);
   font-size: 10px;
   font-weight: 400;
   line-height: 157%;
 }

 .diary__block_list>li::before {
   content: '';
   position: absolute;
   left: -10px;
   display: block;
   width: 5px;
   height: 5px;
   border-radius: 100%;
   background: #000;
 }


 .diary__content>h2 {
   margin-bottom: 30px;
 }

 .diary__content_text {
   margin-bottom: 50px;
 }

 /* --- FOOTER --- */
 .footer {
   width: 100%;
   max-height: 654px;
   padding: 95px 0px;
   background: var(--bg-color);
 }

 .footer__list {
   display: flex;
   flex-direction: column;
   gap: 60px;
 }

 .footer__item_link {
   color: var(--base-white);
   font-family: var(--base-font);
   font-size: 25px;
   font-weight: 600;
 }

 .footer__list_item:first-child>.footer__item_link {
   font-family: var(--third-font);
   font-weight: 900;
   font-size: 40px;
 }




 /* --- MEDIA --- */

 /* --- 1440PX --- */
 @media (max-width:1440px) {

   /* step-section */
   .step__items-wrapper {
     grid-template-columns: 1fr;
     height: fit-content;
     gap: 30px;
   }

   .step__item-wrapper {
     flex-direction: row;
     height: 425px;
   }

   .step__item-wrapper,
   .step__item-wrapper:nth-child(2),
   .step__item-wrapper:nth-child(3) {
     justify-content: center;
   }

   .step__item-wrapper:nth-child(2) {
     flex-direction: row-reverse;
   }

   .step__item_content {
     max-width: 50%;
     padding: 0 50px;
   }

   .step__img_group {
     width: 160px;
     height: 120px;
     bottom: 110px;
   }

   /* --- STORY-SECTION --- */
   .story-section {
     padding: 100px 0;
   }

   .story-container {
     flex-direction: column;
     text-align: center;
   }

   .story__content {
     margin-bottom: 30px;
   }

   .story__content_title>br,
   .diary__content_title>br {
     display: none;
   }

   .story__content>.btn,
   .diary__content>.btn {
     margin-inline: auto;
   }

   /* --- DIARY-SECTION --- */
   .diary-section {
     padding: 50px 0;
   }

   .diary-container {
     flex-direction: column-reverse;
     padding: 0 20px;
     text-align: center;
   }

   .diary__img-wrapper {
     margin-inline: auto;

     display: flex;
     padding: 0 50px;
     align-items: center;
     gap: 50px;
   }
 }

 /* --- 1024PX --- */
 @media (max-width:1024px) {

   .header-container {
     display: flex;
     justify-content: space-between;
   }

   .header__nav_list {
     display: none;
   }

   .well-section {
     padding: 100px 0;
   }

   .step__title-write {
     left: 60px;
   }

   .story__player-wrapper {
     max-width: 100%;
     aspect-ratio: 16/9;
   }

   .story__player {
     width: 100%;
   }
 }

 @media (max-width:768px) {
   .header-container {
     gap: 0;
   }

   .header-btn:first-child {
     display: none;
   }

   .step-section {
     text-align: center;
   }

   .step-section__text {
     margin-bottom: 20px;
   }

   .step__title-wrapper {
     flex-direction: column;
     padding-bottom: 0;
     width: 80%;
     margin-inline: auto;
     gap: 20px;
   }

   .step__title {
     line-height: 1.2;
   }

   .step__items-wrapper {
     grid-template-rows: 1fr;
     flex-direction: row;
     gap: 0;
   }

   .step__item-wrapper {
     flex-direction: column;
     height: fit-content;
   }

   .step__item_content {
     max-width: 80%;
     text-align: center;
     padding: 0;
     margin-inline: auto;
   }

   .step__title-personalize,
   .step__title-write,
   .step__title-alivio {
     left: 50%;
     transform: translate(-50%);
   }

   .step__img-wrapper {
     margin-inline: 30px;
   }

   .step__img_group {
     width: 48%;
     height: 29%;
     bottom: calc(220px + (365 - 220) * ((100vw - 768px) / (768 - 320)));
   }

   .step__item-wrapper:nth-child(2) {
     flex-direction: column;
   }

   /* --- DIARY-SECTION --- */
   .diary-container {
     gap: 50px;
   }

   .diary__content_title,
   .story__content_title {
     width: 80%;
     margin-inline: auto;
   }

   .diary__content_text {
     margin-bottom: 30px;
   }

   .diary__img {
     display: none;
   }

   .diary__img-wrapper {
     min-width: 100%;
     padding: 0;
     justify-content: center;
     height: auto;
   }

   .diary__img-block {
     position: static;
     margin-inline: auto;
   }

   .story__content {
     min-width: 100%;
   }

   .story__content_title>br {
     display: none;
   }

   /* --- FOOTER --- */
   .footer__list {
     margin-left: 50px;
   }
 }